:root {
  --pico-font-size: 12pt;
  --pico-form-element-spacing-horizontal: 0.5rem;
  --pico-form-element-spacing-vertical: 0.5rem;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main header {
  display: flex;
}

dialog article {
  max-width: 75vw;
  height: 75vh;
  display: flex;
  margin: 0;
  padding: 0;
}

.virtual-parent {
  flex: 1;
  overflow: auto;
}

.list-item {
  display: flex;
  width: 100%;
  border-bottom: var(--pico-border-width) solid var(--pico-table-border-color);
  background-color: var(--pico-background-color);
  align-items: center;
}

.list-item.odd {
  background-color: var(--pico-table-row-stripped-background-color);
}

.list-item .date {
  margin-left: 0.5em;
  width: 10%;
}

.list-item .subject {
  width: 20%;
  text-align: right;
  margin-right: 0.5em;
}

.list-item .title {
  width: 70%;
}

.list-item progress {
  margin-left: 1em;
  width: 10%;
  vertical-align: bottom;
  cursor: not-allowed;
}

.list-item.seen {
  color: var(--pico-muted-color);
}

.video-js button.embiggen-button {
  background-image: url(assets/andre_down.png);
  background-position: top;
  background-repeat: no-repeat;
}

.video-js button.embiggen-button:hover {
  background-image: url(assets/andre_up.png);
}

.video-js .hidden {
  display: none;
}